## Analysis of Fashion Text

In [14]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('../data/w-fashion',index_col=0)

df[:3]

,img_link,name,price
0,https://ke.jumia.is/pLMwunB9ALtsfocE238j1DBn4_...,Air Mesh Lady Training Dance Shoes Light Weigh...,KSh 3300
1,https://ke.jumia.is/v-XE6DB1Vo2_uCqmyFAam7k-dN...,Print Off Shoulder Women Dress - Light Green,KSh 700
2,https://ke.jumia.is/4GtkG8rZz81JUvUmOZ6dgu0y0U...,Women Cashmeres Belted Wool Coat - Brown,KSh 1800 - KSh 2200

#####  Word Count

In [18]:
df['word_count'] = df['name'].apply(lambda x: len(str(x).split(" ")))
df[['name','word_count']][:3]

                                                name  word_count
0  Air Mesh Lady Training Dance Shoes Light Weigh...          13
1       Print Off Shoulder Women Dress - Light Green           8
2           Women Cashmeres Belted Wool Coat - Brown           7

## Basic pre-processing

**Stop Words**

In [124]:
# import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords

stop = stopwords.words('english')

In [126]:
df['stopwords'] = df['name'].apply(lambda x: len([x for x in str(x).split() if x in stop]))

df[['name','stopwords']][:3]

                                                name  stopwords
0  air mesh lady training dance shoes light weigh...          1
1        print off shoulder women dress  light green          1
2            women cashmeres belted wool coat  brown          0

**Transform into lower case, remove `'` & `-`**

In [127]:
df['name'] = df['name'].apply(lambda x: str(x).lower().replace("[-,', ]",""))

df['name'][:3]

0    air mesh lady training dance shoes light weigh...
1          print off shoulder women dress  light green
2              women cashmeres belted wool coat  brown
Name: name, dtype: object

**Remove stop words**

In [128]:
df['name2'] = df['name'].apply(lambda x: " ".join(x for x in str(x).split() if x not in stop))
df[['name','stopwords','name2']][:3]

,name,stopwords,name2
0,air mesh lady training dance shoes light weigh...,1,air mesh lady training dance shoes light weigh...
1,print off shoulder women dress light green,1,print shoulder women dress light green
2,women cashmeres belted wool coat brown,0,women cashmeres belted wool coat brown

**Most Common words**

In [129]:
most_common = pd.Series(' '.join(df['name2']).split()).value_counts()[:11]
most_common

women      1858
shoes      1048
high        949
skirt       768
womens      742
casual      705
dress       621
fashion     550
new         504
heels       482
pants       472
dtype: int64

**Rare words**

In [130]:
rare_words = pd.Series(' '.join(df['name2']).split()).value_counts()[-10:]
rare_words

modeling        1
black(int:l)    1
lean            1
bodybon         1
0167            1
sloth           1
joint           1
beltapricot     1
buttocksrose    1
heavy           1
dtype: int64

**Stemming**

stripping suffixes - ing , s, ly

In [131]:
from nltk.stem import PorterStemmer

In [132]:
st = PorterStemmer()

In [133]:
df['name2'][:3]

0    air mesh lady training dance shoes light weigh...
1               print shoulder women dress light green
2               women cashmeres belted wool coat brown
Name: name2, dtype: object

In [134]:
df['text3'] = df['name'].apply(lambda x: " ".join([st.stem(word) for word in str(x).split()]))
df['text3'][:3]

0    air mesh ladi train danc shoe light weight spo...
1           print off shoulder women dress light green
2                   women cashmer belt wool coat brown
Name: text3, dtype: object

**Lemmatization**

 converting a word into its root word

In [135]:
from textblob import Word

In [136]:
df['text2'] = df['name2'].apply(lambda x: " ".join([Word(word).lemmatize() for word in str(x).split()])) 
df['text2'][:3]

0    air mesh lady training dance shoe light weight...
1               print shoulder woman dress light green
2                woman cashmere belted wool coat brown
Name: text2, dtype: object

In [137]:
df[['name2','text2','text3']][:3]

,name2,text2,text3
0,air mesh lady training dance shoes light weigh...,air mesh lady training dance shoe light weight...,air mesh ladi train danc shoe light weight spo...
1,print shoulder women dress light green,print shoulder woman dress light green,print off shoulder women dress light green
2,women cashmeres belted wool coat brown,woman cashmere belted wool coat brown,women cashmer belt wool coat brown

**Most commmon words after Lemmatizing**

In [138]:
common = pd.Series(' '.join(df['text2']).split()).value_counts()[:11]
common2

woman      2677
shoe       1084
high        949
skirt       855
heel        739
dress       712
casual      705
fashion     550
pant        515
new         504
sexy        453
dtype: int64

In [139]:
rare2 = pd.Series(' '.join(df['text2']).split()).value_counts()[-11:]
rare2

bk/37black    1
(thin         1
flipflop      1
zwm1281a      1
jegging       1
luxurious     1
shoesarmy     1
draped        1
rosy          1
0188          1
black&red     1
dtype: int64

**N-grams**

combination of multiple words used together

In [142]:
from textblob import TextBlob

In [154]:
all_words = pd.Series(' '.join(df['text2']).split())
type(all_words)

pandas.core.series.Series

In [161]:
wiki = TextBlob(df['text2'][0]).ngrams(3)
wiki

[WordList(['air', 'mesh', 'lady']),
 WordList(['mesh', 'lady', 'training']),
 WordList(['lady', 'training', 'dance']),
 WordList(['training', 'dance', 'shoe']),
 WordList(['dance', 'shoe', 'light']),
 WordList(['shoe', 'light', 'weight']),
 WordList(['light', 'weight', 'sport']),
 WordList(['weight', 'sport', 'shoe']),
 WordList(['sport', 'shoe', 'woman']),
 WordList(['shoe', 'woman', 'white'])]

In [176]:
wiki.words

AttributeError: 'list' object has no attribute 'words'

In [77]:
from sklearn.feature_extraction.text import CountVectorizer

In [78]:
vect = CountVectorizer()

In [79]:
vect.fit(df['name2'])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [84]:
print(len(vect.vocabulary_))

2276

In [94]:
vect.vocabulary_

{'air': 150,
 'mesh': 1208,
 'lady': 1086,
 'training': 2069,
 'dance': 592,
 'shoes': 1702,
 'light': 1131,
 'weight': 2194,
 'sport': 1890,
 'women': 2220,
 'white': 2198,
 'print': 1483,
 'shoulder': 1747,
 'dress': 634,
 'green': 876,
 'cashmeres': 435,
 'belted': 262,
 'wool': 2231,
 'coat': 496,
 'brown': 366,
 'polka': 1469,
 'dot': 627,
 'long': 1147,
 'sleeve': 1831,
 'patchwork': 1402,
 'black': 273,
 'elegant': 683,
 'sheath': 1682,
 'cape': 422,
 'bohemian': 303,
 'maxi': 1200,
 'blue': 283,
 'fashion': 727,
 'sleeveless': 1833,
 'striped': 1953,
 'belt': 259,
 'ol': 1315,
 'short': 1735,
 'blazer': 275,
 'female': 734,
 'business': 380,
 'pencil': 1416,
 'big': 265,
 'swing': 1994,
 'red': 1543,
 'pleated': 1452,
 'frill': 822,
 'ruched': 1596,
 'high': 954,
 'waist': 2169,
 'skirt': 1790,
 'womens': 2226,
 'retro': 1551,
 'bodycon': 297,
 'purple': 1520,
 'official': 1310,
 'suit': 1967,
 'teal': 2011,
 'floral': 792,
 'yellow': 2255,
 'denim': 605,
 'trouser': 2085,
 'top': 2045,
 'sharp': 1680,
 'look': 1152,
 'skater': 1784,
 'beige': 253,
 'vneck': 2166,
 'deep': 602,
 'peach': 1407,
 'stylish': 1961,
 'sweater': 1985,
 'sleeved': 1832,
 'coverup': 548,
 'kimono': 1058,
 'muslim': 1265,
 'cover': 547,
 'navy': 1272,
 'amber': 157,
 'longsleeved': 1150,
 'peplum': 1420,
 'maroon': 1189,
 'pink': 1441,
 'loose': 1154,
 'lapel': 1090,
 'slim': 1836,
 'fit': 760,
 'casual': 436,
 'jacket': 1024,
 'royal': 1592,
 'suede': 1964,
 'round': 1590,
 'toe': 2043,
 'cap': 421,
 'ballerinas': 217,
 'gold': 864,
 'buckle': 368,
 'stretch': 1948,
 'skinny': 1789,
 'jeans': 1031,
 'trousers': 2087,
 'dark': 594,
 'sued': 1963,
 'hill': 965,
 'chuncky': 466,
 'suedette': 1965,
 'open': 1323,
 'platform': 1448,
 'courts': 545,
 'unique': 2140,
 'plain': 1447,
 'ladies': 1083,
 'heels': 930,
 'chunky': 467,
 'solid': 1879,
 'low': 1167,
 'rise': 1564,
 'yoga': 2256,
 'shorts': 1738,
 'slip': 1841,
 'fancy': 725,
 'roundneck': 1591,
 'kneelength': 1061,
 'boots': 312,
 'doll': 626,
 'decoration': 600,
 'leather': 1105,
 'small': 1854,
 'classic': 471,
 'multicolored': 1260,
 'tshirt': 2098,
 'summer': 1972,
 'new': 1278,
 'korean': 1071,
 'chiffon': 458,
 'shirt': 1695,
 'wild': 2204,
 'selfcultivation': 1652,
 'bottoming': 324,
 'lace': 1074,
 'pure': 1519,
 'color': 508,
 'bow': 329,
 'china': 461,
 'size': 1767,
 'scoop': 1639,
 'neck': 1273,
 'outwear': 1342,
 'sandals': 1617,
 'ankle': 166,
 'straps': 1943,
 'peep': 1412,
 'wedges': 2190,
 'ladys': 1087,
 'pu': 1493,
 'flat': 774,
 'wine': 2208,
 'knee': 1060,
 'hooded': 982,
 'hollow': 978,
 'novelty': 1299,
 'daily': 590,
 'work': 2235,
 'office': 1309,
 'travel': 2071,
 'wedding': 2188,
 'shoesblack': 1707,
 'unisex': 2141,
 'hoodie': 983,
 'weather': 2185,
 'slimfit': 1837,
 'kdk': 1052,
 'coral': 532,
 'boyfriend': 335,
 'cardigan': 425,
 'european': 702,
 'american': 159,
 'stitching': 1933,
 'pocket': 1462,
 'sihetun': 1752,
 'clothing': 486,
 'scuba': 1641,
 'grey': 878,
 'khaki': 1056,
 'genuine': 847,
 'patent': 1403,
 'made': 1177,
 'brazil': 346,
 'east': 675,
 'village': 2160,
 'penny': 1418,
 'loafer': 1143,
 'shoeswhite': 1732,
 'wet': 2196,
 'sexy': 1667,
 'causal': 440,
 'evening': 703,
 'party': 1400,
 'dg': 617,
 'gray': 874,
 'classy': 473,
 'strap': 1939,
 'sandal': 1614,
 'shoessilver': 1728,
 'sneakers': 1861,
 'sports': 1891,
 'loafers': 1144,
 'club': 490,
 'dresses': 640,
 'turtleneck': 2112,
 'transparent': 2070,
 'package': 1355,
 'hip': 967,
 'vestidos': 2156,
 'closed': 479,
 'pointed': 1465,
 'lines': 1138,
 'bat': 234,
 'fork': 814,
 'zanzea': 2266,
 'blouse': 281,
 'tee': 2014,
 'tops': 2050,
 'ballerina': 216,
 'ladiesblack': 1084,
 'autumn': 196,
 'bowknot': 330,
 'moccasins': 1236,
 'driving': 656,
 'shoespink': 1723,
 'bomber': 305,
 'vintage': 2161,
 'printed': 1484,
 'pin': 1438,
 'mimosa': 1230,
 'embroidery': 691,
 'tassel': 2008,
 'blusas': 289,
 'plus': 1458,
 'cold': 502,
 'camis': 409,
 'trendy': 2078,
 'design': 607,
 'padded': 1357,
 'army': 180,
 'strappy': 1942,
 'wlowcut': 2213,
 'hitops': 974,
 'canvas': 420,
 'sneaker': 1859,
 'trainers': 2067,
 'men': 1205,
 'womenblue': 2222,
 'street': 1945,
 'style': 1960,
 'feather': 731,
 'pattern': 1404,
 'tshirts': 2100,
 'shirts': 1696,
 'hequeen': 950,
 'sweatshirt': 1987,
 'pullover': 1497,
 'jumper': 1043,
 'flowered': 797,
 'ball': 215,
 'gown': 868,
 'back': 210,
 'gothic': 867,
 'tectores': 2012,
 'trend': 2076,
 'printing': 1485,
 'prom': 1489,
 'spaghetti': 1881,
 'ruffle': 1598,
 'mini': 1231,
 'nighties': 1285,
 'sleepwear': 1828,
 'mens': 1206,
 'fight': 752,
 'velvet': 2150,
 'mustard': 1268,
 'strapless': 1940,
 'backless': 211,
 'silicone': 1753,
 'bra': 337,
 'winter': 2210,
 'coats': 497,
 'thin': 2027,
 'half': 897,
 'dressblue': 638,
 'bikini': 268,
 'set': 1661,
 'halter': 902,
 'shell': 1688,
 'girls': 856,
 'womenwheat': 2227,
 'ultraloose': 2123,
 'tight': 2038,
 'harem': 912,
 'pants': 1381,
 'orange': 1331,
 'clubwear': 491,
 'playsuit': 1451,
 'jumpsuit': 1044,
 'beautiful': 248,
 'maasai': 1176,
 'mavazi': 1198,
 'afrique': 147,
 'ruching': 1597,
 'laceup': 1077,
 'shapewear': 1676,
 'tummy': 2106,
 'girdle': 853,
 'trainer': 2062,
 'body': 293,
 'shaper': 1671,
 'bust': 383,
 'control': 526,
 'corset': 535,
 'skin': 1788,
 'overlap': 1348,
 'mopostpartum': 1247,
 'wrap': 2241,
 'split': 1888,
 'beach': 242,
 'front': 825,
 'carved': 431,
 'openwork': 1328,
 'shortsleeved': 1743,
 'gym': 886,
 'workout': 2237,
 'drawstring': 633,
 'running': 1601,
 'shortsblack': 1739,
 'criss': 557,
 'cross': 565,
 'spring': 1897,
 'japanese': 1029,
 'collar': 505,
 'bottomingblouse': 325,
 'rose': 1585,
 'square': 1899,
 'colormix': 511,
 'flag': 766,
 'chest': 455,
 'tube': 2103,
 'highwaist': 962,
 'topsuit': 2054,
 'wide': 2201,
 'ruffles': 1600,
 'fitted': 762,
 'dressblack': 637,
 'cropped': 564,
 'insert': 1016,
 'tank': 2005,
 'bandage': 224,
 'widelegged': 2203,
 'hit': 973,
 'fly': 802,
 'sleeves': 1834,
 'irregular': 1021,
 'elastic': 680,
 'pregnant': 1481,
 'silk': 1754,
 'vest': 2154,
 'sling': 1840,
 'outerwear': 1336,
 'satin': 1633,
 'lingerie': 1139,
 'nightgown': 1283,
 'cami': 408,
 'stripes': 1954,
 'sky': 1821,
 'tie': 2035,
 'breathable': 351,
 'durable': 670,
 'lacing': 1079,
 'hoodies': 984,
 'sweatshirts': 1988,
 'zipper': 2270,
 'thicken': 2024,
 'burst': 377,
 'heel': 924,
 'excellent': 705,
 'neoprene': 1276,
 'hot': 991,
 'shapers': 1674,
 'quality': 1525,
 'belly': 258,
 'band': 223,
 'super': 1978,
 'elasticity': 681,
 'regulate': 1546,
 'stomach': 1934,
 'slimming': 1839,
 'large': 1093,
 'rhinestones': 1556,
 'thong': 2029,
 'shoesapricot': 1704,
 'bird': 269,
 'tree': 2074,
 'button': 399,
 'topmulticolor': 2047,
 'halflength': 898,
 'sun': 1974,
 'cashmere': 434,
 'cute': 588,
 'umbrella': 2125,
 'skirts': 1808,
 'line': 1134,
 'cerise': 442,
 'bardot': 228,
 'midi': 1220,
 'dunk': 669,
 'hole': 975,
 'nostalgic': 1297,
 'paragraph': 1397,
 'national': 1270,
 'end': 693,
 'cloth': 483,
 'worn': 2238,
 'abdomen': 134,
 'cut': 587,
 'leaky': 1103,
 'romper': 1579,
 'pagoda': 1359,
 'panel': 1371,
 'holiday': 977,
 'wind': 2205,
 'midtop': 1226,
 'slippers': 1844,
 'lovely': 1163,
 'fruit': 827,
 'jelly': 1036,
 'flip': 783,
 'flops': 788,
 'skid': 1786,
 'indoor': 1014,
 'shoesblue': 1709,
 'shirtxxxxxl': 1698,
 'candycolored': 419,
 'turn': 2109,
 'wollen': 2215,
 '2018': 50,
 'flamingo': 767,
 'leisure': 1121,
 'outwearm': 1343,
 'sweet': 1989,
 'simple': 1760,
 'harajuku': 910,
 'comfortable': 517,
 'grid': 879,
 'hook': 987,
 'flower': 796,
 'nightdress': 1282,
 'nightgowns': 1284,
 'paghetti': 1358,
 'chilli': 460,
 'pepper': 1421,
 'pull': 1495,
 'underwear': 2129,
 'block': 277,
 'gather': 840,
 'brief': 355,
 'angel': 161,
 'bullock': 371,
 'uk': 2121,
 '10': 30,
 'available': 197,
 'stripe': 1951,
 'bar': 227,
 'young': 2259,
 'pant': 1374,
 'as': 188,
 'first': 756,
 'picture': 1432,
 'tunic': 2107,
 'cuffs': 575,
 'hequ': 949,
 'sibybo': 1750,
 'colors': 512,
 'leg': 1113,
 'home': 980,
 'beetle': 250,
 'cartoon': 429,
 'barefoot': 230,
 'embroidered': 690,
 'straight': 1936,
 'fake': 717,
 'two': 2116,
 'pieces': 1434,
 'splicing': 1887,
 'ruffled': 1599,
 'wooden': 2230,
 'ear': 673,
 'asymmetricalflare': 194,
 'flare': 769,
 '3d': 84,
 'cutout': 589,
 'cotton': 542,
 'ms': 1255,
 'crew': 554,
 'section': 1647,
 'camisole': 413,
 'harness': 915,
 'beaches': 243,
 'layered': 1100,
 'underbust': 2126,
 'beltblack': 261,
 'classical': 472,
 'braces': 339,
 'jumpsuits': 1046,
 'butterfly': 387,
 'fuschia': 835,
 'europe': 701,
 'tide': 2034,
 'male': 1182,
 'motorcycle': 1251,
 'wear': 2184,
 'patch': 1401,
 'bandeau': 225,
 'school': 1636,
 'bus': 379,
 'multi': 1258,
 'hem': 947,
 'oneck': 1321,
 'vestido': 2155,
 'middle': 1218,
 'queens': 1530,
 'born': 320,
 'detail': 614,
 'allmatch': 154,
 'baseball': 232,
 'overcoat': 1347,
 'flared': 770,
 'piece': 1433,
 'suits': 1970,
 'twopiece': 2118,
 'camouflage': 415,
 'dinosaur': 621,
 'monster': 1245,
 'batwing': 239,
 'topspink': 2053,
 'flats': 776,
 'gn': 862,
 '35green': 70,
 'cn': 493,
 'jenas': 1037,
 'double': 629,
 'wrinkled': 2244,
 'boss': 321,
 'unicorn': 2137,
 'anime': 164,
 'aircushion': 151,
 'shoesred': 1725,
 'us': 2147,
 'closefitting': 480,
 'max': 1199,
 'cat': 437,
 'blouses': 282,
 'full': 829,
 'feminina': 736,
 'stiletto': 1913,
 'pumps': 1506,
 'basic': 233,
 'shoesbeige': 1706,
 'robe': 1567,
 'femme': 748,
 'quanlity': 1526,
 'xxxxl': 2250,
 'leopard': 1123,
 'singlebreasted': 1763,
 'letter': 1125,
 'deer': 603,
 'blusa': 288,
 'mujer': 1256,
 'pig': 1436,
 'pockets': 1463,
 'side': 1751,
 'oktoberfest': 1314,
 'rubber': 1594,
 'slipon': 1842,
 'thick': 2023,
 'bottom': 323,
 'wedge': 2189,
 'fashionable': 728,
 'skyblue': 1822,
 'appliqued': 175,
 'medium': 1202,
 'aquamarine': 178,
 'leaf': 1101,
 'perspective': 1426,
 'gift': 850,
 'sale': 1608,
 '2017': 47,
 'slash': 1824,
 'clothingdark': 487,
 'personality': 1424,
 'wolf': 2214,
 'tribal': 2080,
 'feet': 733,
 'coffee': 501,
 'letters': 1126,
 'girl': 855,
 'topsxl': 2055,
 'sets': 1663,
 'hair': 896,
 'sweat': 1984,
 'tracksuit': 2060,
 'splice': 1885,
 'turkey': 2108,
 'dressbeige': 636,
 'sole': 1878,
 'vaqueros': 2149,
 'overalls': 1345,
 'suspender': 1981,
 'catsuit': 439,
 'midsleeved': 1225,
 'psycho': 1492,
 'funny': 833,
 'hipster': 972,
 'sudaderas': 1962,
 'crewnecktrxye': 556,
 'hoody': 985,
 'tricolor': 2081,
 'fresh': 821,
 'mixedcolor': 1232,
 'length': 1122,
 'broken': 362,
 'love': 1162,
 'bell': 255,
 'neckline': 1274,
 'knot': 1067,
 'trim': 2082,
 'openworktank': 1329,
 'pajamas': 1364,
 'bodysuit': 299,
 'crochet': 561,
 'xl': 2245,
 '2xl': 59,
 '3xl': 86,
 'roses': 1586,
 'sweatershirt': 1986,
 'punk': 1518,
 'rock': 1570,
 'pillowtalk': 1437,
 'zayn': 2267,
 'tumblr': 2105,
 'poleras': 1468,
 'famale': 723,
 'warm': 2175,
 'chaquetas': 447,
 'jacquard': 1025,
 'rockabilly': 1571,
 'fat': 729,
 'sister': 1766,
 'combed': 515,
 'boho': 304,
 'crepe': 553,
 'bohemia': 302,
 'beads': 246,
 'apricot': 176,
 '017': 13,
 'mama': 1184,
 'womans': 2219,
 'maternity': 1195,
 'breastfeeding': 350,
 'woman': 2216,
 'nursing': 1304,
 'hanging': 908,
 'fall': 721,
 'models': 1241,
 'youth': 2260,
 'leggings': 1116,
 'lake': 1088,
 'put': 1524,
 'hedging': 923,
 'fitness': 761,
 'nubuck': 1300,
 'martin': 1190,
 'boot': 309,
 'ring': 1561,
 'summerwomen': 1973,
 'united': 2142,
 'states': 1907,
 'camisa': 410,
 'america': 158,
 'midcalf': 1217,
 'ripped': 1562,
 'streetwear': 1946,
 'legs': 1120,
 'bellbottoms': 256,
 'tassels': 2009,
 'nine': 1289,
 'points': 1466,
 'rotten': 1588,
 'beggar': 251,
 'buttons': 401,
 'straightline': 1938,
 'microblack': 1215,
 'highend': 955,
 'students': 1958,
 'clothes': 484,
 'locomotive': 1145,
 'bf': 263,
 'harlan': 914,
 'ink': 1015,
 'old': 1316,
 'fulllength': 830,
 's3xl': 1603,
 'off': 1308,
 'chain': 445,
 'twill': 2114,
 'jeggings': 1035,
 'schoolgirlstyle': 1638,
 'snow': 1872,
 'goddess': 863,
 'version': 2153,
 'real': 1540,
 'runway': 1602,
 'distressed': 623,
 'hiphop': 969,
 'washed': 2178,
 'microbellbottoms': 1214,
 'rough': 1589,
 'really': 1541,
 'yards': 2252,
 'ninth': 1290,
 'quick': 1531,
 'dry': 658,
 'woven': 2240,
 'capri': 423,
 'see': 1648,
 'slit': 1849,
 'openlegged': 1325,
 'holes': 976,
 'regular': 1545,
 'spandex': 1882,
 'micro': 1213,
 'speaker': 1883,
 'beggars': 252,
 'badge': 212,
 'flares': 772,
 'jean': 1030,
 'pantsblack': 1382,
 'alphabet': 156,
 'cowboy': 550,
 'siamese': 1749,
 'rompers27': 1580,
 'straightleg': 1937,
 'personalized': 1425,
 'midriff': 1223,
 'rolling': 1576,
 'wideleg': 2202,
 'hong': 981,
 'kong': 1069,
 'taste': 2010,
 'meileiya': 1203,
 'night': 1280,
 'trousersblue': 2089,
 'nylon': 1306,
 'contrast': 525,
 'pantswhite': 1392,
 'crosslayered': 566,
 'track': 2059,
 'seven': 1664,
 'h5005': 889,
 'rivets': 1566,
 'womendeep': 2223,
 'nostalgia': 1296,
 'student': 1957,
 'tights': 2039,
 'trousersblack': 2088,
 'sporty': 1894,
 'shortswhite': 1745,
 'foot': 809,
 'trouserss': 2095,
 'rivet': 1565,
 'curling': 580,
 'pantsblue': 1383,
 'linen': 1136,
 'capris': 424,
 'pantalon': 1375,
 'must': 1267,
 'z3200': 2264,
 'stretchy': 1949,
 'waisted': 2171,
 'sportyblack': 1895,
 'shot': 1746,
 'modal': 1239,
 'leggingsblack': 1117,
 'lightcolored': 1132,
 'joint': 1040,
 'raw': 1537,
 'edge': 676,
 'ponte': 1474,
 'bunched': 372,
 'jogging': 1039,
 'pantsorange': 1388,
 'jointing': 1041,
 'herem': 951,
 'baggy': 214,
 'skull': 1820,
 'shape': 1670,
 'comfy': 522,
 'chic': 457,
 'palazzo': 1366,
 'gaucho': 841,
 'lounge': 1161,
 'outdoor': 1334,
 'net': 1277,
 'yarn': 2253,
 'drying': 659,
 'fringed': 824,
 'ds': 660,
 'costume': 540,
 'shiny': 1693,
 'pantspink': 1389,
 'h5157': 891,
 '605': 110,
 'removable': 1548,
 'skirted': 1796,
 'topdeep': 2046,
 'pierced': 1435,
 'grenadine': 877,
 'edgy': 678,
 'fringe': 823,
 'pancil': 1369,
 'chffion': 456,
 'trouserspink': 2093,
 'fine': 753,
 'jeansblue': 1033,
 'moto': 1250,
 'charming': 450,
 'med': 1201,
 'beauty': 249,
 'paint': 1360,
 'point': 1464,
 'heavy': 922,
 'duty': 671,
 'beaded': 245,
 'hiking': 964,
 'climbing': 476,
 'mountain': 1252,
 'wicking': 2200,
 'gymnasium': 887,
 'bag': 213,
 'spliced': 1886,
 'hs010h': 996,
 'plussize': 1461,
 'plump': 1456,
 'buttockssky': 397,
 'pantswine': 1393,
 'biker': 266,
 'rider': 1560,
 'jegging': 1034,
 'burgundy': 374,
 'harbor': 911,
 'hs010i': 997,
 'buttocksblue': 392,
 'ligao': 1130,
 'trousersdark': 2090,
 'ultra': 2122,
 'topred': 2049,
 'hs010b': 993,
 'buttocksblack': 391,
 'trousersgrey': 2091,
 'pantwhite': 1394,
 'korea': 1070,
 'bamboo': 221,
 'blank': 274,
 'push': 1522,
 'checkered': 452,
 'popular': 1476,
 'slacks': 1823,
 'waterproof': 2181,
 'camping': 416,
 'windproof': 2207,
 'softshell': 1876,
 'fleece': 780,
 'detailed': 615,
 'semitight': 1655,
 'yoins': 2257,
 'great': 875,
 'soft': 1875,
 'exercise': 707,
 'h5190': 893,
 'pantyellow': 1396,
 'pantblue': 1377,
 'cats': 438,
 'diy': 624,
 'roll': 1575,
 'hs010p': 999,
 'buttocksfluorescent': 393,
 'digital': 619,
 'special': 1884,
 'pantblack': 1376,
 'making': 1180,
 'textured': 2022,
 'leggingspurplish': 1119,
 'sheer': 1686,
 'activewear': 139,
 '112': 33,
 'jeansblack': 1032,
 'shinning': 1692,
 'metallic': 1212,
 'mermaid': 1207,
 'scales': 1634,
 'legging': 1115,
 'shortsblue': 1740,
 'haren': 913,
 'h5325': 894,
 'plug': 1453,
 'pantdark': 1378,
 'crackle': 551,
 'kua': 1073,
 'brokenhole': 363,
 'match': 1193,
 '602': 109,
 'seamless': 1644,
 'pantspurple': 1390,
 'hs010f': 995,
 'buttockswine': 398,
 'outer': 1335,
 'heart': 920,
 'athletic': 195,
 'blocking': 278,
 'hs010q': 1000,
 'buttocksgrey': 394,
 'power': 1478,
 'flex': 782,
 'wantlh': 2174,
 'shaping': 1678,
 'cool': 530,
 'faded': 715,
 'pintunck': 1443,
 'suitable': 1968,
 '4xl': 99,
 'midrise': 1224,
 'modern': 1242,
 'colir': 503,
 'loosefittng': 1155,
 'females': 735,
 'fantasy': 726,
 'springcasual': 1898,
 'designer': 611,
 'luxury': 1173,
 'vogue': 2168,
 'five': 764,
 'comfortables3xl': 519,
 'french': 820,
 'bazaar': 240,
 'plaid': 1446,
 'bound': 326,
 'latest': 1094,
 '882': 128,
 'pantsgreen': 1386,
 'magic': 1179,
 'tetris': 2020,
 'gril': 880,
 'cigarette': 468,
 'anklelength': 167,
 's5xl': 1604,
 'hs010e': 994,
 'buttocksrose': 396,
 'edges': 677,
 'womenwhite': 2228,
 'sumemr': 1971,
 'relaxed': 1547,
 'hight': 961,
 'colorful': 510,
 'compression': 523,
 'salehot': 1609,
 '828608dark': 126,
 'hs010k': 998,
 'buttocksorange': 395,
 'womenblack': 2221,
 'salewantlh': 1610,
 'xxs3xl': 2248,
 'luster': 1171,
 'diamond': 618,
 'item': 1023,
 'outfits': 1338,
 'leggingsgreen': 1118,
 'colorblock': 509,
 'dropcrotch': 657,
 'wash': 2177,
 'destroyed': 613,
 'comfortablesuit': 521,
 'boat': 291,
 '12': 34,
 '14': 37,
 '16': 39,
 'collor': 507,
 'onepiece': 1322,
 'legged': 1114,
 'zippere': 2271,
 'cocktail': 499,
 'pale': 1367,
 'culottes': 576,
 ...}

In [96]:
bag_of_words = vect.transform(df['name2'])
bag_of_words

<3730x2276 sparse matrix of type '<class 'numpy.int64'>'
	with 39489 stored elements in Compressed Sparse Row format>

In [98]:
bag_of_words.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])