## Analysis of Fashion Text

In [14]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('../data/w-fashion',index_col=0)

df[:3]

,img_link,name,price
0,https://ke.jumia.is/pLMwunB9ALtsfocE238j1DBn4_...,Air Mesh Lady Training Dance Shoes Light Weigh...,KSh 3300
1,https://ke.jumia.is/v-XE6DB1Vo2_uCqmyFAam7k-dN...,Print Off Shoulder Women Dress - Light Green,KSh 700
2,https://ke.jumia.is/4GtkG8rZz81JUvUmOZ6dgu0y0U...,Women Cashmeres Belted Wool Coat - Brown,KSh 1800 - KSh 2200

#####  Word Count

In [18]:
df['word_count'] = df['name'].apply(lambda x: len(str(x).split(" ")))
df[['name','word_count']][:3]

                                                name  word_count
0  Air Mesh Lady Training Dance Shoes Light Weigh...          13
1       Print Off Shoulder Women Dress - Light Green           8
2           Women Cashmeres Belted Wool Coat - Brown           7

**Stop Words**

In [19]:
# import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords

stop = stopwords.words('english')

In [25]:
df['stopwords'] = df['name'].apply(lambda x: len([x for x in str(x).split() if x in stop]))

df[['name','stopwords']][:3]

                                                name  stopwords
0  Air Mesh Lady Training Dance Shoes Light Weigh...          0
1       Print Off Shoulder Women Dress - Light Green          0
2           Women Cashmeres Belted Wool Coat - Brown          0

**Transform into lower case, remove `'` & `-`**

In [70]:
df['name'] = df['name'].apply(lambda x: str(x).lower().replace("[-,', ]",""))

df['name'][:3]

0    air mesh lady training dance shoes light weigh...
1          print off shoulder women dress  light green
2              women cashmeres belted wool coat  brown
Name: name, dtype: object

**Remove stop words**

In [71]:
df['name2'] = df['name'].apply(lambda x: " ".join(x for x in str(x).split() if x not in stop))
df[['name','stopwords','name2']][:3]

,name,stopwords,name2
0,air mesh lady training dance shoes light weigh...,0,air mesh lady training dance shoes light weigh...
1,print off shoulder women dress light green,0,print shoulder women dress light green
2,women cashmeres belted wool coat brown,0,women cashmeres belted wool coat brown

**Most Common words**

In [72]:
most_common = pd.Series(' '.join(df['name2']).split()).value_counts()[:11]
most_common

women      1858
shoes      1048
high        949
skirt       768
womens      742
casual      705
dress       621
fashion     550
new         504
heels       482
pants       472
dtype: int64

**Rare words**

In [75]:
rare_words = pd.Series(' '.join(df['name2']).split()).value_counts()[-10:]
rare_words

modeling        1
black(int:l)    1
lean            1
bodybon         1
0167            1
sloth           1
joint           1
beltapricot     1
buttocksrose    1
heavy           1
dtype: int64